<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>Wood</string>
		<key>boxKey</key>
		<string>box-wood</string>
		<key>tileKey</key>
		<string>tile-wood</string>
	</dict>
    <dict>
        <key>nameKey</key>
        <string>Wood2</string>
        <key>boxKey</key>
        <string>box-wood2</string>
        <key>tileKey</key>
        <string>tile-wood2</string>
    </dict>
	<dict>
		<key>nameKey</key>
		<string>Clouds</string>
		<key>boxKey</key>
		<string>box-clouds</string>
		<key>tileKey</key>
		<string>tile-clouds</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Marble</string>
		<key>boxKey</key>
		<string>box-marble</string>
		<key>tileKey</key>
		<string>tile-marble</string>
	</dict>
    <dict>
        <key>nameKey</key>
        <string>Marble2</string>
        <key>boxKey</key>
        <string>box-marble2</string>
        <key>tileKey</key>
        <string>tile-marble2</string>
    </dict>
	<dict>
		<key>nameKey</key>
		<string>Plastic</string>
		<key>boxKey</key>
		<string>box-plastic</string>
		<key>tileKey</key>
		<string>tile-plastic</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Gold</string>
		<key>boxKey</key>
		<string>box-gold</string>
		<key>tileKey</key>
		<string>tile-gold</string>
	</dict>
    <dict>
        <key>nameKey</key>
        <string>Steel</string>
        <key>boxKey</key>
        <string>box-steel</string>
        <key>tileKey</key>
        <string>tile-steel</string>
    </dict>
    <dict>
        <key>nameKey</key>
        <string>Copper</string>
        <key>boxKey</key>
        <string>box-copper</string>
        <key>tileKey</key>
        <string>tile-copper</string>
    </dict>
</array>
</plist>
