<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>Wood</string>
		<key>boxKey</key>
		<string>box-wood</string>
		<key>redKey</key>
		<string>red-wood</string>
		<key>blueKey</key>
		<string>blue-wood</string>
		<key>whiteKey</key>
		<string>white-wood</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Basic</string>
		<key>boxKey</key>
		<string>box-basic</string>
		<key>redKey</key>
		<string>red-basic</string>
		<key>blueKey</key>
		<string>blue-basic</string>
		<key>whiteKey</key>
		<string>white-basic</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Marble</string>
		<key>boxKey</key>
		<string>box-marble</string>
		<key>redKey</key>
		<string>red-marble</string>
		<key>blueKey</key>
		<string>blue-marble</string>
		<key>whiteKey</key>
		<string>white-marble</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Plastic</string>
		<key>boxKey</key>
		<string>box-plastic</string>
		<key>redKey</key>
		<string>red-plastic</string>
		<key>blueKey</key>
		<string>blue-plastic</string>
		<key>whiteKey</key>
		<string>white-plastic</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Marble2</string>
		<key>boxKey</key>
		<string>box-marble2</string>
		<key>redKey</key>
		<string>red-marble2</string>
		<key>blueKey</key>
		<string>blue-marble2</string>
		<key>whiteKey</key>
		<string>white-marble2</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Steel</string>
		<key>boxKey</key>
		<string>box-steel</string>
		<key>redKey</key>
		<string>red-steel</string>
		<key>blueKey</key>
		<string>blue-steel</string>
		<key>whiteKey</key>
		<string>white-steel</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>Wood2</string>
		<key>boxKey</key>
		<string>box-wood2</string>
		<key>redKey</key>
		<string>red-wood2</string>
		<key>blueKey</key>
		<string>blue-wood2</string>
		<key>whiteKey</key>
		<string>white-wood2</string>
	</dict>
</array>
</plist>
